body {
    color: #404040;
    background-color: #fff;
    font: 14px 'Roboto Mono', monospace;
    margin: 0px; padding: 0px 300px;
    letter-spacing: 0.3px;
}

.intro {
    margin-left: 15%;
    margin-right:15%;
    width: 70%;
    height: 60%;
    margin-top: 10%;
    display: inline-block;
    text-align: center;
}

.photos {
    position: relative;
    top: 400px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


h3 {
    color: #f44277;
    font-size:18px;
}

h4 {
    color: #227222;
    font-style:bold;
    font-size:16px;
}

a {
    color: #404040;
    text-decoration: none;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    letter-spacing:3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease
}

.header {
    background-color: #f44277;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 6%;
}


.links {
    color: #f44277;
    font-size:2%;
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
    margin-top:1%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    text-transform:uppercase;
}
 
.links a {
    background-color: #f44277;
    margin-left: 5%;
    margin-right:5%;
    width: 10%;
    font-size: 12px;
    text-align: center;
    z-index:999999999;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease
}

.links a:hover {
    letter-spacing:3px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease
}